.page {
  width: 60%; /* La page occupe 80% de la largeur de l'écran */
  margin: 0 auto; /* Centre la page horizontalement */
}

.container {
  display: flex;
  gap: 20px; /* Espacement entre les colonnes */
}

.columnLarge {
  flex: 7; /* Colonne principale (80%) */
}

.columnSmall {
  flex: 3; /* Colonne secondaire (20%) */
}

.title {
  color: #40BBED; /* Couleur du titre */
  font-size: 2rem; /* Taille du texte (modifiable selon vos besoins) */
  text-align: left; /* Aligne le texte à gauche */
  margin-bottom: 10px; /* Espacement sous le titre */
}

.titleLine {
  width: 100%; /* Ligne qui prend toute la largeur */
  height: 2px; /* Épaisseur de la ligne */
  background-color: #40BBED; /* Couleur de la ligne */
  margin: 0 auto 20px auto; /* Centrer la ligne et ajouter un espacement en bas */
}